<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Weather application</title>
</head>

<body>
    <div>
        <form action="/" method="post">
            <input name="city" type="text" placeholder="Enter City" required>
            <input type="submit" value="Find Weather">
        </form>
        <% if(weather){ %>
        <p><%= weather %></p>
        <% } %>
        <% if(error){ %>
        <p><%= error %></p>
        <% } %>
    </div>
</body>

</html>